{
  "presets": ["babel-preset-expo", "react-native", "es2015", "stage-0"],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source", "transform-inline-environment-variables"]
    }
  }
}
